.Panel {
	background: $gray;
	height: 107px;
	display: flex;
	align-items: flex-end;
	padding-bottom: 21px;
	line-height: 1;
	text-transform: uppercase;
	margin-bottom: 33px;

	a {
		font-weight: 800;
		font-size: 35px;
		color: $white;
	}
}
