.Panel {
	background: $gray;
	height: 107px;
	display: flex;
	align-items: flex-end;
	font-size: 35px;
	padding-bottom: 21px;
	line-height: 1;
	text-transform: uppercase;
	color: $white;
	font-weight: 800;
	margin-bottom: 33px;
}
