{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "rules": {
    "react/jsx-filename-extension": [0],
    "react/prop-types": false,
    "no-case-declarations": [0],
    "no-underscore-dangle": [0],
    "import/prefer-default-export": false,
    "react/no-danger": false,
    "jsx-a11y/anchor-is-valid": [ "error", {
      "components": [ "Link" ],
      "specialLink": [ "to" ],
      "aspects": [ "noHref", "invalidHref", "preferButton" ]
    }]
  }
}