.Pagination {
	display: flex;
	align-items: center;
	justify-content: center;

	&__item {
		margin: 0 3px;
		&--active {
			.Pagination__link {
				background: $gray;
				border-radius: 5px;
				color: $white;
			}
		}
	}

	&__break {
		margin: 0 3px;
	}

	&__link {
		cursor: pointer;
		display: block;
		color: $black;
		width: 19px;
		font-size: 14px;
		font-weight: 500;
		text-align: center;
		line-height: 24px;
	}

	&__prev-link,
	&__next-link {
		display: block;
		margin: 0 10px;
		color: $light-gray2;
		font-size: 20px;
	}
}
